<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>快递单详细页面</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <div th:insert="main::top"></div>
    <div class="row clearfix">
        <div class="col-md-12 column">
            <dl>
                <dt>
                    快递单号：[[${bill.getId()}]]
                </dt>
                <dt>
                   寄件人: [[${bill.getSendName()}]] [[${bill.getSendPhoneNumber()}]]
                </dt>
                <dd>
                    [[${bill.getSendLocal()}]]
                </dd>
            </dl>
            <dl>
                <dt>
                    收件人: [[${bill.getRecName()}]] [[${bill.getRecPhoneNumber()}]]
                </dt>
                <dd>
                    [[${bill.getRecLocal()}]]
                </dd>
            </dl>
        </div>
        <button class="btn btn-info"  type="button"><a style="color: black" th:href="@{/main/update/{id}(id=${bill.getId()})}">修改</a></button>
        <button class="btn btn-danger" type="button"><a th:href="@{/main/delete/{id}(id=${bill.getId()})}">删除</a></button>
    </div>
</div>
</body>
</html>