<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">
	<title>速达快递系统</title>
	<!-- Bootstrap core CSS -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link th:href="@{/css/signin.css}" rel="stylesheet">
</head>

<body class="text-center">
<form class="form-signin" th:action="@{/login/index}" method="post" >
	<img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" alt="" width="72" height="72">
	<h1 class="h3 mb-3 font-weight-normal">速达快递登录界面</h1>
	<p style="color: red" th:text="${msg}" th:if="${!#strings.isEmpty(msg)}"></p>
	<!--	<input type="text" name="nickName" class="form-control" placeholder="昵称" required="" autofocus="">-->
	<!--    <label class="sr-only">Username</label>-->
	<input type="text" name="Username" class="form-control" placeholder="用户名" required="" autofocus="">
	<!--    <label class="sr-only">Password</label>-->
	<input type="password" name="Password" class="form-control" placeholder="密码" required="">
	<!--	<input  type="password" name="rePassword" class="form-control" placeholder="重复输入密码" required="">-->
	<input type="text" name="verify" class="form-control" placeholder="验证码" style="width: 100px;float: left" required=""><img src="/kaptcha" style="width: 160px;height: 46px;float: left;padding-left: 40px" onclick="this.src='/kaptcha?d='+new Date()*1">
	<button  class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top: 20px">登陆</button>
	<button  class="btn btn-lg btn-primary btn-block"  style="margin-top: 1px" onclick="window.location.href='/login/sign'" type="button">注册</button>
	<p class="mt-5 mb-3 text-muted">© 2020-2021 Gu Yu Xiao</p>

</form>
</body>
</html>